<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/style.css">
  </head>
  <body>

    <div class="content" style="background-image: url('./static/map.jpg');">
      <h1 class="title">Pickee</h1>
      <h2>Where we choose places to eat for you!</h2>
      <h3>Click the button below to search for a restaurant.</h3>
      <br><br>
      <button class="search" id="foodButton" onclick="randomLocation()">Search</button>
      <br><br>
      <div class="result" style="display:none;">
        <h1 class="fieldr">NAME:</h1>
        <h1 id="nameHTML">This is the Name of the Restaurant</h1>
        <h1 class="fieldr">ADDRESS:</h1>
        <h1 id="addressHTML">This is the Address of the Restuarant</h1>
        <h1 class="fieldr">TYPE:</h1>
        <h1 id="typeHTML">This is the Type of Restaurant</h1>
        <h1 class="fieldr">Rating</h1>
        <h1 id="ratingHTML">This is the Rating of the Restaurant</h1>
        <div class="resultbuttons">
          <button class="directions">Directions</button>

          <button class="learnmore" onclick="redirectRestaurant()">Learn More</buttons>

        </div>
      </div>
    </div>
    <br><br><br>
  </body>
  <script src="{{url_for('static', filename='locations.js')}}"></script>
</html>
