<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="./static/profile.css">
</head>

<body onload="loadFavs()">

  <div class="header">
    <h1>Pick.ee</h1>
    <p>The Place to Try New Food</p>
    <h1> Welcome back</h1>
  </div>

    <div class="navbar">
      <a href="buttonPage.html">Find a Place to Eat!</a>
      <a href="#" class="right">Sign Out</a>
    </div>

    <div class="row">
        <div class="column" style="background-color:white;">
          <h2>Places I liked</h2>
          <p>
            <form>
                <h2><label for="likes">Likes:</label></h2><br>
                <ul id = "myLikes">
                </ul>
              </form>
          </p>
        </div>
      </div>

      <script>
         function loadFavs(){
          const url = "http://127.0.0.1:5000/listFavs"
          var xhttp= new XMLHttpRequest();
          xhttp.open("GET", url);
          xhttp.setRequestHeader("Content-Type", "application/json");
          xhttp.onload = function() {
            const rep = JSON.parse(this.responseText);
            console.log(rep);
            const val = rep["resp"]

            for (likes of val){
              document.getElementById("myLikes").innerHTML += "<li>" + likes + "</li>"
            }

          };
          xhttp.send();
         }




      </script>

</body>
</html>
